<br>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="card bg-secondary" style="width: 18rem; " >
                    <%= image_tag("deportes.jpg", :alt => "Deportes", :class => "card-img-top" ) %>
                    <div class="card-body">
                        <a href="/nicenews/deportes"> <h2 class="card-text">Deportes</h2> </a>
                    </div>
                </div>
                <div class="card bg-warning" style="width: 18rem; " >
                    <%= image_tag("farandula.jpg", :alt => "Farándula", :class => "card-img-top" ) %>
                    <div class="card-body">
                        <a href="/nicenews/farandula"> <h2 class="card-text">Farándula</h2> </a>
                    </div>
                </div>
                <div class="card bg-info" style="width: 18rem; " >
                    <%= image_tag("congreso.jpg", :alt => "Nacional", :class => "card-img-top" ) %>
                    <div class="card-body">
                        <a href="/nicenews/nacional"> <h2 class="card-text">Nacional</h2> </a>
                    </div>
                </div>
                <div class="card bg-success" style="width: 18rem; " >
                    <%= image_tag("internacional.jpg", :alt => "Internacional", :class => "card-img-top" ) %>
                    <div class="card-body">
                        <a href="/nicenews/internacional"> <h2 class="card-text">Internacional</h2> </a>
                    </div>
                </div>

            </div>
        </div>
    </header>
</body>